<!-- <div style="height: 100px">
	<div
		class="account_info"
		style="float: left">
		<h3>Slot Name: <strong>test01</strong></h3>
		<h3>Club Name: <strong>test01</strong></h3>
		<h3>Created: <strong>21 Mar 2023</strong></h3>

		<div>
			<h3>
				Paid Through: <strong>Bridge Extra</strong>&nbsp;&nbsp;<button
					mat-raised-button
					color="accent"
					(click)="alert()">
					Extend
				</button>
			</h3>
		</div>
	</div>

	<div
		style="float: right"
		class="email">
		<h3>Change Email:</h3>
		<mat-form-field class="example-full-width">
			<mat-label>Email </mat-label>
			<input
				matInput
				placeholder="New Email"
				[(ngModel)]="newEmail"
				value="test@test.com" />
		</mat-form-field>
		&nbsp;
		<button
			mat-raised-button
			color="primary"
			(click)="updateEmail()">
			Save
		</button>

		<br />
		<h3>Change Password</h3>
		<mat-form-field class="example-full-width">
			<mat-label>Current Password </mat-label>
			<input
				matInput
				placeholder="Current Password"
				[(ngModel)]="currentPassword"
				value="" />
		</mat-form-field>
		<br />
		<mat-form-field class="example-full-width">
			<mat-label>New Password </mat-label>
			<input
				matInput
				placeholder="New Password"
				[(ngModel)]="newPassword"
				value="" />
		</mat-form-field>
		<br />
		<mat-form-field class="example-full-width">
			<mat-label>Repeat Password </mat-label>
			<input
				matInput
				placeholder="Repeat Password"
				[(ngModel)]="repeatPassword"
				value="" />
		</mat-form-field>
		<br />
		<button
			mat-raised-button
			color="primary"
			(click)="updatePassword()">
			Save
		</button>
		<br />
	</div>
</div> -->
