.account_info {
  margin-left: 12%;
  width: fit-content;
  margin-top: 4%;
  margin-right: auto  ;
  color: lightgray;
  display: inline-block;
}

.email {
  margin-right: 12%;
  width: fit-content;
  margin-top: 2%;
  margin-left: auto  ;
  color: lightgray;
  display: inline-block;
}
