<div class="reset-form">
	<h1>Password Reset</h1>

	<form
		[formGroup]="requestForm"
		class="password-reset">

		<mat-form-field>
		<mat-label>Game Code</mat-label>
		<input
		matInput
		placeholder="Enter Game Code here"
				formControlName="slot"
				[type]="slot" />
		</mat-form-field>
		<mat-form-field>
		<mat-label>Username</mat-label>
		<input
		matInput
		placeholder="Enter Username Chosen On Sign Up"
				formControlName="username"
				[type]="username" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Email</mat-label>
			<input
				matInput
				placeholder="Enter Email here"
				formControlName="email"
				[type]="email" />
		</mat-form-field>
		<button
			mat-raised-button
			color="none"
			(click)="requestPasswordReset()">
			Request New Password
		</button>
	</form>
</div>
