
h1 {
  color: rgb(0, 0, 0);
}
.main-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// align-items: center;
	gap: 20px;
	width: 80%;
	margin:auto;
	padding-bottom: 2vw;
}

.top-container {
	display: flex;
	flex-direction: column;
  margin-top: 20px;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
mat-form-field{
	width: 100%;
	margin-left:5%;
}
button{
	width: 100%;
}

.create-user-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.create-user-form button.submit {
	width: 100%
}


