<h1
	mat-dialog-title
	*ngIf="data.type === 'login'">
	Please Sign In
</h1>
<h1
	mat-dialog-title
	*ngIf="data.type === 'signUp'">
	Please Sign Up
</h1>
<div
	mat-dialog-content
	[ngClass]="{
		'login-dialog': data.type === 'login',
		'sign-up-dialog': data.type === 'signUp'
	}">
	<ng-container *ngIf="data.type === 'login'">
		<mat-tab-group
			animationDuration="0ms"
			(selectedTabChange)="selectedTab = $event.tab.textLabel.toLowerCase()">
			<mat-tab label="Game Code">
				<form [formGroup]="slotForm">
					<!-- Slot form fields here -->
					<mat-form-field>
						<mat-label>Game Code</mat-label>
						<input
							type="text"
							matInput
							formControlName="slot"
							[errorStateMatcher]="matcher"
							placeholder="Ex. slotABC123" />
						<mat-error *ngIf="slotForm.controls.slot.errors?.required">
							Game Code <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Password</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							matInput
							formControlName="password"
							(keydown.enter)="submitForm()" />
						<mat-icon
							matSuffix
							(click)="hide = !hide">
							{{ hide ? 'visibility_off' : 'visibility' }}
						</mat-icon>
						<mat-error *ngIf="slotForm.controls.password.errors?.required">
							Password <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</form>
			</mat-tab>
			<mat-tab label="Username">
				<form [formGroup]="usernameForm">
					<!-- Username form fields here -->
					<mat-form-field>
						<mat-label>User Name</mat-label>
						<input
							type="text"
							matInput
							formControlName="user_name"
							placeholder="Ex. john_doe" />
						<mat-error *ngIf="usernameForm.controls.user_name.errors?.required">
							UserName <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<mat-form-field>
						<mat-label>Password</mat-label>
						<input
							[type]="hide ? 'password' : 'text'"
							matInput
							formControlName="password"
							(keydown.enter)="submitForm()" />
						<mat-icon
							matSuffix
							(click)="hide = !hide">
							{{ hide ? 'visibility_off' : 'visibility' }}
						</mat-icon>
						<mat-error *ngIf="usernameForm.controls.password.errors?.required">
							Password <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</form>
			</mat-tab>
		</mat-tab-group>
	</ng-container>

	<!-- Sign Up Form -->
	<form
		class="example-form sign-up"
		[formGroup]="signUpForm"
		*ngIf="data.type == 'signUp'">
		<mat-form-field>
			<mat-label>Full Name <strong class="required">*</strong></mat-label>
			<input
				type="text"
				matInput
				formControlName="name"
				[errorStateMatcher]="matcher"
				placeholder="Ex. John Doe" />
			<mat-error *ngIf="signUpForm.controls.name.errors?.required">
				Name <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<!-- Email -->
		<mat-form-field class="example-full-width">
			<mat-label>Contact Email <strong class="required">*</strong></mat-label>
			<input
				type="email"
				matInput
				formControlName="email"
				[errorStateMatcher]="matcher"
				placeholder="Ex. pat@example.com" />

			<mat-error *ngIf="signUpForm.controls.email.errors?.required">
				Email is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.email.errors?.email">
				Valid email is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<span class="info"
			>This is the email address we will use to send your game code details and
			communicate with you about your account with IBEScore</span
		>
		<!-- Subscription Type -->
		<span class="field-heading"
			>Which subscription are you intending to purchase after the trial period
			ends?<strong class="required">*</strong></span
		>
		<mat-form-field>
			<mat-label>Choose subscription type</mat-label>
			<mat-select
				formControlName="type"
				matInput>
				<mat-option
					*ngFor="let accountType of accountTypes"
					value="{{ accountType.typeCode }}">
					{{ accountType.name }}
				</mat-option>
			</mat-select>
			<mat-error *ngIf="signUpForm.controls.type.errors?.required">
				Type is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<!-- City -->
		<mat-form-field>
			<mat-label>City</mat-label>
			<input
				type="text"
				matInput
				formControlName="city" />
			<span
				class="error-span"
				*ngIf="
					signUpForm.get('tel_phone').hasError('pattern') &&
					signUpForm.get('tel_phone').touched
				">
				Phone Number is <strong>invalid</strong>
			</span>
			<span
				class="error-span"
				*ngIf="
					signUpForm.get('tel_phone').hasError('required') &&
					signUpForm.get('tel_phone').touched
				">
				Phone Number is <strong>required</strong>
			</span>
		</mat-form-field>
		<!-- Country -->
		<mat-form-field>
			<mat-label>Select Country</mat-label>
			<mat-select
				formControlName="country"
				id="country"
				matInput>
				<mat-option
					*ngFor="let country of revisedCountries"
					[value]="country.name"
					>{{ country.emoji + ' ' + country.name }}</mat-option
				>
			</mat-select>

			<mat-error *ngIf="signUpForm.controls.type.errors?.required">
				Type is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<!-- Dialing Code & Telephone -->
		<div class="custom-field-wrapper">
			<div
				class="form-field-custom"
				style="display: flex">
				<label
					for="dialcode"
					class="dialcode-label"
					>Country Code
					<input
						type="text"
						matInput
						formControlName="dialingCode"
						name="dialcode"
						[readonly]="disabledDialingCode"
						class="dialing-code"
						[class.error]="
							signUpForm.get('dialingCode').invalid &&
							signUpForm.get('dialingCode').touched
						"
						placeholder="" />
				</label>
				<label
					for="tel_phone"
					class="tel-label"
					[class.error]="
						(signUpForm.get('tel_phone').hasError('required') ||
							signUpForm.get('tel_phone').hasError('pattern')) &&
						signUpForm.get('tel_phone').touched
					"
					>Telephone (without country code)
					<input
						class="tel-field"
						type="email"
						matInput
						formControlName="tel_phone"
						name="tel_phone"
						[class.error]="
							(signUpForm.get('tel_phone').hasError('pattern') ||
								signUpForm.get('tel_phone').hasError('required')) &&
							signUpForm.get('tel_phone').touched
						"
						placeholder="Ex. 01245554445" />
				</label>
			</div>
			<span
				class="error-span"
				*ngIf="
					signUpForm.get('tel_phone').hasError('pattern') &&
					signUpForm.get('tel_phone').touched
				">
				Phone Number is <strong>invalid</strong>
			</span>
			<span
				class="error-span"
				*ngIf="
					signUpForm.get('tel_phone').hasError('required') &&
					signUpForm.get('tel_phone').touched
				">
				Phone Number is <strong>required</strong>
			</span>
		</div>
		<!-- Slot Game Code -->
		<mat-form-field class="example-full-width">
			<mat-label>Slot</mat-label>
			<input
				type="text"
				matInput
				formControlName="slot"
				[errorStateMatcher]="matcher"
				placeholder="Ex. 1234" />
			<mat-error *ngIf="signUpForm.controls.slot.errors?.required">
				Slot is <strong>required</strong>
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.slot.errors">
				Valid Slot must be <strong>letters and numbers only</strong>
			</mat-error>
			<mat-hint>Choose or a game code, or one will be chosen for you</mat-hint>
		</mat-form-field>
		<br />
		<!-- Passsword & Repeat Password -->
		<mat-form-field>
			<mat-label>Password</mat-label>
			<input
				type="password"
				matInput
				formControlName="password"
				[errorStateMatcher]="matcher" />
			<mat-error *ngIf="signUpForm.controls.password.errors?.minlength">
				Password Needs to be
				<strong>
					{{ signUpForm.controls.password.errors?.minlength.requiredLength }} char
					long
				</strong>
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.password.errors?.required">
				Password is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Repeat Password</mat-label>
			<input
				type="password"
				matInput
				formControlName="password_confirm"
				[errorStateMatcher]="matcher" />
			<mat-error
				*ngIf="signUpForm.controls.password_confirm.errors?.matchValidator">
				Password Does Not
				<strong>Match</strong>
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.password_confirm.errors?.required">
				Password is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<!-- Usage -->
		<div radio-group>
			<mat-label>What is your intended useage?</mat-label>
			<mat-radio-group formControlName="usage">
				<mat-radio-button
					*ngFor="let usage of usageList"
					[value]="usage.value"
					[checked]="usage.checked"
					[class.error]="
						signUpForm.get('usage').hasError('required') &&
						signUpForm.get('usage').touched
					"
					>{{ usage.label }}</mat-radio-button
				>
			</mat-radio-group>
			<div class="info-wrapper">
				<span class="info"
					>We ask this to make a note on our records when we issue your game code,
					so that we can best support you with relevant content (ie not send you
					update information that has no relevance to your usage)
				</span>
			</div>
			<span
				class="error-span"
				*ngIf="
					signUpForm.get('usage').touched &&
					signUpForm.get('usage').hasError('required')
				">
				Intended usage is <strong>required</strong>
			</span>
		</div>

		<mat-radio-group formControlName="feedback">
			<span class="field-heading feedback"
				>We are contantly developing our products to ensure our customers love our
				products and customer service so what you think really matters to us. Please
				tell us how you feel about giving feedback. Tick the box most relevant to
				you</span
			>
			<mat-radio-button
				>I’m not sure please include me in research, but give me the chance to
				unsubscribe
			</mat-radio-button>
			<mat-radio-button
				>YES, I am willing to be contacted for feedback on my usage of IBEScore
			</mat-radio-button>
			<mat-radio-button
				>YES. I love the App and will be happy to help get the word out to bridge
				players
			</mat-radio-button>
			<mat-radio-button
				>YES, I will rate the app in the App stores
			</mat-radio-button>
			<mat-radio-button
				>YES, I am happy for you to publish my feedback in written endorsements
			</mat-radio-button>
			<mat-radio-button
				>I will not give feedback and do not wish to be asked
			</mat-radio-button>
			<div class="info-wrapper">
				<span class="info"
					>Please respond to this question with confidence that we will never
					publish anything that identifies you without gaining your specific
					consent.</span
				>
			</div>
		</mat-radio-group>

		<mat-form-field>
			<mat-label>Comments</mat-label>
			<textarea
				matInput
				formControlName="comments"></textarea>
		</mat-form-field>
		<!-- User 'heard' feedback-->
		<span class="field-heading">Please tell us how you heard about IBEScore</span>
		<mat-form-field>
			<mat-label>Type here..</mat-label>
			<textarea
				matInput
				formControlName="howHeard"></textarea>
			<mat-error *ngIf="signUpForm.controls.howHeard.errors?.required"></mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<button
		mat-button
		(click)="submitForm()"
		cdkFocusInitial>
		Ok
	</button>
	<button
		mat-button
		color="warn"
		(click)="onNoClick()">
		Cancel
	</button>
</div>
<!-- <h1 mat-dialog-title
    *ngIf="data.type == 'login'"> Please Sign In </h1>
<h1 mat-dialog-title
    *ngIf="data.type == 'signUp'"> Please Sign Up </h1>
<div mat-dialog-content>
  <form [formGroup]="signInForm"
        *ngIf="data.type == 'login'">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Slot"
               *ngIf="data.type === 'slot' ">
      </mat-tab>
  </form>
  <form>
    <mat-tab [formGroup]="signInForm"
             *ngIf="data.type == 'login'">
      <mat-tab label="Username"
               *ngIf="data.type=== 'username'"></mat-tab>
    </mat-tab>
  </form>
  </mat-tab-group> -->
