h1 {
	text-align: center;
}

form.sign-up {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	padding: 1em;
	margin: 0
}

form.sign-up mat-form-field {
	width: 100%;
	margin: auto;
}

mat-form-field {
	width: 40%;
	margin-left: 5%;
}

#telephoneFieldWrapper.mat-tel-field .mdc-form-field-flex>div {
	position: relative;
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

button {
	width: 45%;
}

.mat-mdc-dialog-content {
	max-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-field-wrapper {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	gap: 4px;
	padding: 0.2rem 0.1rem;
}

label input {
	height: 56px;
	font-size: 1rem;
	border: unset;
	border-radius: 4px 4px 0 0;
	background-color: whitesmoke;
	color: rgba(0, 0, 0, 0.87)
}

input.tel-field {
	padding-left: 0.4rem;
	width: 100%;
	border-bottom: 1px solid black;
	transition: box-shadow 0.2s ease-out;
}

input.tel-field::placeholder {
	padding-left: 0.4rem;
}

input.tel-field.error::placeholder {
	color: #f44336
}

input.dialing-code {
	padding-right: 0.4rem;
	text-align: right;
	width: 2em;
}


input.dialing-code::placeholder {
	font-size: 10px;
}

.form-field-custom {
	gap: 4px;
	margin-bottom: 12px;
}

span.error-span {
	font-size: 12px;
	color: #f44336;
	padding-left: 2rem;
	;
}

.dialcode-label {
	width: 26%
}

.dialcode-label input {
	width: 80%;

}

.dialcode-label input:focus-visible {
	outline: none !important;
	border: unset !important;
}

.tel-label {
	width: 74%
}

.tel-label input {
	width: 96%;
	padding: 0.1rem;
	box-shadow: 0 0.5px 0 0 black;
}

.tel-label input:hover {
	background-color: rgba(0, 0, 0, .11);
}

.tel-label input:focus-visible {
	outline: unset;
	border-bottom: unset;
	box-shadow: 0 2px 0 0 #5e35b1;
	background-color: rgba(0, 0, 0, .11)
}

mat-radio-group {
	margin-bottom: 0.2em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.radio-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1em;
}

span.info {
	font-size: 12px;
}

.login-dialog {}