/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
	height: 100%;
	overflow-y: hidden;

}

* {
	-webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// text-rendering: optimizeLegibility;

}

::-webkit-scrollbar{
	display: none
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}



body {
  // background: #000060;
}
